<div class="header">

  <div class="headerLeft">
    <%- if controller_name == 'sessions' || controller_name == 'registrations' %>
      <%= link_to "<-", root_path, class: "headerBack" %><br />
    <%- elsif controller_name == 'groups' && controller.action_name == 'index' %>
      <%= link_to image_tag("/assets/menu"), splash_screen_menu_path, class: "headerBack" %><br />
    <%- elsif controller_name == 'groups' && controller.action_name == 'show' || controller.action_name == 'menu' %>
      <%= link_to image_tag("/assets/back"), groups_path, class: "headerBack" %><br />
    <% end %>
  </div>

  <div class="headerCenter">
    <%- if controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'groups'%>
      <%= name %>
    <%- elsif controller.action_name == 'menu' %>
      <%= name %>
    <% end %>
  </div>

  <div class="headerRight">
    <%- if controller_name == 'sessions' || controller_name == 'registrations' %>
      <%= f.submit name, class: "headerButton" %>
    <% end %>

  </div>

</div>